@model  RWA.Models.ViewModel.ShowCustomersVM
@{
    ViewBag.Title = "Kupci";

    SelectList ddlGradovi = new SelectList(
    items: Model.Towns,
    dataTextField: "Naziv",
    dataValueField: "IDGrad");

    SelectList ddlDrzave = new SelectList(
        items: Model.Countries,
        dataTextField: "Naziv",
        dataValueField: "IDDrzava");
}

    <div class="jumbotron">
        @using (Html.BeginForm(controllerName: "Customer", actionName: "GetFilteredCustomers", htmlAttributes: new { id = "formCustomer" }, routeValues: null, method: FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label(expression: "IDDrzava", labelText: "Drzava")
                @Html.DropDownList(
                    optionLabel: "--- odaberi ---",
                    selectList: ddlDrzave,
                    name: "IDDrzava",
                    htmlAttributes: new { @class = "form-control" })
            </div>


            <div class="form-group">
                @Html.Label(expression: "IDGrad", labelText: "Grad")
                @Html.DropDownList(
                     optionLabel: "--- odaberi ---",
                     selectList: ddlGradovi,
                     name: "IDGrad",
                     htmlAttributes: new { @class = "form-control" })
            </div>
            <hr />
            @Html.Label(expression: "idSort", labelText: "Sortiraj")
            <select name="sortByType" id="sortByType" class="form-control">
                <option value="0" >Sortirajte po imenu silazno </option>
                <option value="1">Sortirajte po imenu uzlazno </option>
                <option value="2">Sortirajte po prezimenu silazno </option>
                <option value="3">Sortirajte po prezimenu uzlazno </option>
            </select>
            @Html.Label(expression: "CustomersPerPage", labelText: "Broj kupaca po stranici")
            <select name="customersPerPage" id="customersPerPage" class="form-control">
                <option value="10"> 10 </option>
                <option value="20"> 20 </option>
                <option value="25"> 25 </option>
                <option value="50"> 50 </option>
            </select>
        }
        <table class="table table-sm table-striped bg-info">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>E-mail</th>
                    <th>Telefon</th>
                    <th>Grad</th>
                    <th>Država</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model.Customers)
                {
                    <tr>
                        <td>@k.Ime</td>
                        <td>@k.Prezime</td>
                        <td>
                            @k.Email
                        </td>
                        <td>@k.Telefon</td>
                        <td>@k.Town.Naziv</td>
                        <td>@k.Town.Country.Naziv</td>
                        <td>
                            @Html.ActionLink("Uredi", "EditCustomer", new { }) |
                            @Html.ActionLink("Prikaži račune", "GetCustomersBills", new { id = k.IDKupac }) |

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section scripts{
    <script>
        $('#IDDrzava').change(e => $('#formCustomer').submit());
        $('#IDGrad').change(e => {
            if (e.target.value !== '') {
                $('table').show();
                $('#formCustomer').submit();
            } else {
                $('table').hide();
            }


        });
        $('#customersPerPage').change(e => $('#formCustomer').submit());
        $('#sortByType').change(e => $('#formCustomer').submit());



    </script>

}


