@model IEnumerable<RWA.Models.Customer>


@{
    ViewBag.Title = "Kupci";

}

<h2>Kupci</h2>



<input type="button" onclick="" />

@Html.ActionLink("Filtriraj kupce po drzavi i gradu", "SelectCountry", new {/* id=item.PrimaryKey */})|

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDKupac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @* Tu ide gradId inace *@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDKupac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town.Naziv)
            </td>
            <td>
                @Html.ActionLink("Uredi", "EditCustomer", new { id = item.IDKupac }) |
                @Html.ActionLink("Računi", "GetCustomersBills", new { id = item.IDKupac }) |
                @Html.ActionLink("Obrišite kupca", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
