@model RWA.Models.SubCategoryViewModel.SubCategoryVM

@{
    ViewBag.Title = "EditSubCategory";

    SelectList ddlCategories = new SelectList(
  items: Model.categories,
  dataTextField: "Naziv",
  dataValueField: "IDKategorija");
}

<h2>Uredite potkategoriju</h2>


<div class="jumbotron">
    @using (Html.BeginForm(controllerName: "SubCategory", actionName: "EditSubCategory", htmlAttributes: new { id = "formSubCategory" }, routeValues: null, method: FormMethod.Post))
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.subcategory.IDPotKategorija, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.subcategory.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.subcategory.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.subcategory.Naziv, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label(expression: "IDKategorija", labelText: "Kategorija")
                @Html.DropDownList(                  
                    optionLabel: "--- odaberi ---",
                    selectList: ddlCategories,
                    name: "IDKategorija",
                    htmlAttributes: new { @class = "form-control" })
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnSubmit" type="submit" value="Spremi promjene" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
    <div>
        @Html.ActionLink("Natrag na listu potkategorija", "Index")
    </div>
    @section scripts{
        <script>
            $('#btnSubmit').click(e => $('#formSubCategory').submit());
        </script>

    }
